PyTelegramBotAPI
wheel
lxml
cryptg==0.2.post2
numpy
mapper
scipy==1.5.4
matplotlib==3.3.2
opencv-python-headless
scikit-image
argparse
imutils
telethon
feedparser
geopy
googletrans
hurry.filesize
markdown
nltk
pillow==8.0.1
psycopg2-binary
python-rapidjson
PyYAML
requests
sqlalchemy
tldextract
wikipedia
zalgo-text
gTTs
gTTs-token
pyfiglet==0.8.post1
beautifulsoup4
pytz
youtube_dl==2021.2.10
google-api-python-client
pyDownload==0.0.1.dev4
telegraph
cowpy
psutil
python-dotenv
coffeehouse
html2text
python-barcode
PyDictionary==2.0.1
idna<2.9,>=2.5
fontTools
pymongo
dnspython
gitpython
bing_image_downloader
alphabet_detector
nudepy
better_profanity
validators
