PyTelegramBotAPI
wheel==0.34.2
lxml==4.6.1
scipy==1.5.4
matplotlib==3.3.2
argparse==1.4.0
imutils==0.5.3
telethon==1.18.2
pillow==8.0.1
psycopg2-binary==2.8.6
python-rapidjson==0.9.3
PyYAML==5.3.1
requests==2.24.0
sqlalchemy==1.3.20
wikipedia==1.4.0
zalgo-text==0.6
gTTs==2.2.1
gTTs-token==1.1.4
pyfiglet==0.8.post1
beautifulsoup4==4.9.3
pytz==2020.4
